
body{
    font-family: monospace;

    background-color: rgb(235, 227, 227);
}

.heading{
 background-color: hotpink;
 text-align: center;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
 padding: 15px;
 border-radius: 10px;

}

.container{
    width: 80%;
    margin-left: auto;
 margin-right: auto;

}
.input-field{

    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
}
.input-field::placeholder{
    color:blue;
    font-size: 20px;
}
.title{
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-bottom: red 2px solid;
}
#btn{
    width: 50%;
    margin-top: 10px;
  
    padding: 15px;
   
    background-color: hotpink;
    border-radius: 10px;

   display: block;
   margin-left: auto;
   margin-right: auto;
}
